.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 33px 0;
  background-color: rgba($color-black-russian, 0.9);
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
  }

  &__logo {
    width: 245px;
    height: 35px;
    flex-shrink: 0;

    @include vp-767 {
      position: relative;
      width: 150px;
      height: 15px;
      z-index: 25;
    }
  }

  &__logo svg {
    width: 100%;
    height: 100%;
  }

  .main-nav {
    @include vp-767 {
      pointer-events: none;
      visibility: hidden;
    }
  }

  &__burger {
    display: none;

    @include vp-767 {
      position: relative;
      display: flex;
      background-color: transparent;
      padding: 0;
      border: none;
      width: 45px;
      height: 35px;
      z-index: 25;
    }
  }

  &__burger-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: $color-default-white;
    transform-origin: 0 center;
    transition: opacity $trans-default, rotate $trans-default;
  }

  &__burger-line:first-child {
    top: 0;
  }

  &__burger-line:nth-child(2) {
    top: 16px;
  }

  &__burger-line:last-child {
    bottom: 0;
  }
}

.header.is-open {
  .main-nav {
    @include vp-767 {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  .header__burger-line:first-child {
    rotate: 45deg;
  }

  .header__burger-line:nth-child(2) {
    @include vp-767 {
      opacity: 0;
    }
  }

  .header__burger-line:last-child {
    rotate: -45deg;
  }
}
