.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--initial-vh, 1vh));
  isolation: isolate;

  .container {
    flex-grow: 1;
    display: flex;
  }

  &__inner {
    max-width: 780px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto 0;

    @include vp-1279 {
      max-width: 615px;
    }

    @include vp-1023 {
      padding-top: 135px;
      max-width: 500px;
      margin: auto;
    }
  }

  &__title {
    @include vp-767 {
      text-align: center;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;

    @include vp-1279 {
      object-position: 65% 0;
    }

    @include vp-767 {
      object-position: 50% 0;
    }
  }

  &__list-wrapper {
    margin-top: 89px;

    @include vp-767 {
      margin-top: 60px;
    }
  }

  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    @include vp-767 {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }

  &__item {
    position: relative;
    padding-left: 25px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 9px;
      width: 5px;
      height: 2px;
      background-color: $color-default-black;
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 80px;

    @include vp-767 {
      justify-content: center;
      margin-top: 60px;
      column-gap: 20px;
    }
  }

  &__btn-wrapper .btn {
    @include vp-767 {
      width: 100%;
      max-width: 300px;
    }
  }
}
