.title {
  margin: 0;
  text-transform: uppercase;
  color: inherit;

  &--h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;

    @include vp-767 {
      font-size: 28px;
      line-height: 38px;
    }
  }

  &--h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 800;

    @include vp-767 {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
